<form name="customerForm" novalidate ng-submit="saveCustomer(customer)">

  <div class="form-group">
    <label class="control-label">Name</label>
    <input type="text" class="form-control" ng-model="customer.name" required>
  </div>

  <div class="form-group">
    <label class="control-label">Telefone</label>
    <input type="text" class="form-control" ng-model="customer.tel" required>
  </div>

  <div class="form-group">
    <label class="control-label">E-mail</label>
    <input type="email" class="form-control" ng-model="customer.email" required>
  </div>

  <button class="btn btn-primary" ng-disabled="customerForm.$invalid">Save</button>

</form>